#blog .blogs_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50px;
    padding: 2rem 0;
    margin: 5rem 5rem;
}

.title{
    padding-top: 2rem;
}
#blog .blog_card{
    position:relative;
    border-radius: var(--radius-3);
    overflow: hidden;
}
#blog .blog_card .category{
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--gradient-1);
    color: var(--color-white);
    text-align: center;
    padding: 5px 20px;
    border-radius: var(--radius-4);
    z-index: 4;
}
#blog .blog_card:hover img{
    transform: scale(1.2);
}
#blog .blog_card .details{
    background: var(--gradient-1);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 150px;
    border-radius: var(--radius-3);
    padding: 20px;
    color: var(--color-white);
    transition: var(--transition);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}
#blog .blog_card:hover .details{
    background: var(--gradient-2);
    
}
#blog .blog_card .details h3{
    flex: 1;
}

#blog .blog_card .buttons_container .btn{
    display: flex;
    align-items: center;
    gap: 5px;

}
/* Responsive code */
/* Tablets (601px to 1000px) */
@media (max-width: 1000px) {
    #blog .blogs_container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    #blog .blog_card .details {
        height: 130px;

    }

    #blog .blog_card .details h3 {
        font-size: 1.2rem;
    }

    #blog .blog_card .category {
        top: 15px;
        left: 15px;
        padding: 4px 15px;
        font-size: 0.8rem;
    }
}

/* Mobile (up to 600px) */
@media (max-width: 600px) {
    #blog .blogs_container {
        grid-template-columns: 1fr;
        /* Single column for small screens */
        margin: 2rem;
        /* Reduce margin for mobile */
        gap: 15px;
    }

    #blog .blog_card .details {
        height: 120px;
        padding: 10px;
    }

    #blog .blog_card .details h3 {
        font-size: 1rem;
        /* Smaller font for mobile */
    }

    #blog .blog_card .category {
        top: 10px;
        left: 10px;
        padding: 4px 12px;
        font-size: 0.7rem;
    }

    #blog .blog_card .buttons_container .btn {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}